<!DOCTYPE html>
<html>
  <head>
    <title>Marketing with nav</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>

  <body>
    <header class="clearfix">
      <aside>I am a logo</aside>
      <nav>
        <a href="www.google.co.za">Home</a> |
        <a href="www.google.co.za">About us</a> |
        <a href="www.google.co.za">Blog</a> |
        <a href="www.google.co.za">Contact us</a>
      </nav>
    </header>
    <main>
      <section class="first-section">I am a big section</section>
      <section class="clearfix">
        <div class="box-one">I am a block</div>
        <div class="box-one">I am a block</div>
        <div class="box-three box-one">I am a block</div>
      </section>
    </main>
    <footer>I am a footer</footer>
  </body>
</html>
