# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
FEWD/Week01/lesson01/homework/jackie_cookie_recipe_with_comments/cookies.jpg
FEWD/Week01/lesson01/homework/jackie_cookie_recipe_with_comments/index.html
FEWD/Week01/lesson01/homework/jackie_cookie_recipe_with_comments/style.css
FEWD/Week01/lesson01/homework/jackie_cookie_recipe_with_comments/README
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/images/citipix_deliverable.png
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/images/startup_matchmaker_deliverable.png
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/reference_images/about_me_deliverable.png
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/reference_images/portfolio_deliverable.png
FEWD/Week02/lesson03/homework/relaxr_starter_code/css/style.css
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/about.html
FEWD/Week02/lesson03/homework/relaxr_starter_code/style1.css
FEWD/Week02/lesson03/homework/relaxr_starter_code/css/style1.css
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/portfolio.html
FEWD/Week01/lesson02/homework/jackie_portfolio_with_comments/images/relaxr_deliverable.png
