* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*LAYOUT*/

body {
  width: 100%;
  font-family: "Source Sans Pro", helvetica, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
}

header {
  color: white;
  background-color: #000;
  height: 75px;
  border-bottom: 5px solid #f9e42e;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-left: 25px;
  float: left;
  padding-top: 10px;
  font-family: Merriweather;
}

nav {
  float: right;
  padding-bottom: 20px;
}

li {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding-right: 35px;
  padding-top: 26px;
}

.font {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.tag-line {
  background-color: #cccccc;
  padding: 10px;
  font-size: 33px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
  color: #b3b3b3;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #f9e42e;
}

.image {
  background: url(../images/coworking.jpg) no-repeat center top #b3b3b3;
  background-size: cover;
  height: 500px;
}

aside {
  width: 325px;
  height: 450px;
  float: right;
  background: #f2f2f2;
  margin: 25px 40px 25px 0;
  opacity: 0.8;
  border: solid 1px #b3b3b3;
}

.box-heading {
  font-weight: 700;
  font-size: 33px;
  padding: 40px 30px 0;
}

.box-para {
  padding: 5px 30px;
  font-size: 25px;
  text-align: left;
}

.box-link {
  background-color: #f9e42e;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  padding: 10px 30px;
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: Merriweather;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}
