* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*LAYOUT*/

body {
  width: 100%;
  font-family: Source Sans Pro, helvetica, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
}

header {
  color: white;
  background-color: #000;
  height: 75px;
  border-bottom: 5px solid #f9e42e;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-left: 25px;
  float: left;
  padding-top: 10px;
}

nav {
  float: right;
  padding-bottom: 20px;
}

li {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding-right: 35px;
  padding-top: 26px;
}

.font {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.tag-line {
  background-color: #cccccc;
  padding: 10px;
  font-size: 33px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
  color: #b3b3b3;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #f9e42e;
}

.image {
  background: url(../images/coworking.jpg) no-repeat center top #b3b;
  background-size: cover;
  height: 500px;
}
