* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*LAYOUT*/

body {
  width: 100%;
  font-family: Source Sans Pro, helvetica, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
}

header {

}
