<!DOCTYPE html>
<html>
  <head>
    <title>Magazine</title>
    <link rel="stylesheet" href="./style/style.css">
  </head>
  <body>
    <header class="clearfix">
      <div class="logo">I am a logo</div>
      <nav>
        <a href="www.google.co.za">Home</a> |
        <a href="www.google.co.za">About</a> |
        <a href="www.google.co.za">Blog</a> |
        <a href="www.google.co.za">Articles</a> |
        <a href="www.google.co.za">Contact us</a>
      </nav>
    </header>
    <main class="clearfix">
      <aside>I am a sidebar of information</aside>
      <div class="box-one">I am a block</div>
      <div class="section-one">Section 1</div>
      <div class="section-one section-two">Section 2</div>
      <div class="little-box-one">I am a little box</div>
      <div class="little-box-one">I am a little box</div>
      <div class="little-box-one">I am a little box</div>
      <div class="little-box-one">I am a little box</div>
    </main>
    <footer>I am a footer</footer>
  </body>
</html>
