<!DOCTYPE html>
<html>
  <head>
    <title>Simple marketing</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>

  <body>
    <header>I am a header</header>
    <main class="clearfix">
      <div class="column-one">I am one main column</div>
      <div class="column-two column-one">I am another column</div>
    </main>
    <section class="clearfix">
      <div class="box-one">I am a small box</div>
      <div class="box-one">I am a small box</div>
      <div class="box-three box-one">I am a small box</div>
    </section>
    <footer>I am a footer</footer>
  </body>
</html>
