/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  display: block;
}

header {

}

h3 {
  background-color: #f0efef
}

.benefits {
  background-color: #f0efef;
}

blockquote {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 40px;
  margin-left: 460px;
  margin-right: 460px;
  }

.reference1 {
  font-weight: lighter;
  font-style: italic;
}

.reference2 {
  font-weight: 400;
}

.box2 {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px 25px;
  border: 5px solid black;
  display: inline-block;
  margin-left: 40%;
  margin-right: 40%;
  }

.box2style {
  background-color: #f9e42e;
  padding: 20px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
