* {
box-sizing: border-box;
}

body {
  width: 100%;
}

.clearfix:before, .clearfix:after {
content: " ";
display: table;
}

.clearfix:after {
clear: both;
}

header {
background-color: #b30000;
border: 2px solid #cc0000;
height: 100px;
text-align: center;
color: white;
font-family: verdana;
}

.column-one {
  background-color: #00b33c;
  border: 2px solid #00cc44;
  height: 500px;
  width: 60%;
  text-align: center;
  color: white;
  font-family: verdana;
  margin: 20px 0;
  float: left;
}

.column-two {
  width: 38.5%;
  float: right;
  margin-left: 20px;
}

footer {
  background-color: #4d4dff;
  height: 100px;
  border: 2px solid #3333ff;
  color: white;
  text-align: center;
}
